  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

nav{
    width: 100%;
    margin: auto;
    background-color: rgb(179, 249, 249);
    padding: 10px;
    position: fixed;
    z-index: 1;
}

nav div#container{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav div#container div img{
   width: 70px;
   height: 70px;
   border-radius: 50%;
}

nav div#container div ul{
   display: flex;
  gap: 50px;
 }

 nav div#container div ul>li{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    text-decoration: none;
  }


  body {
    background-color: #cb202d;
    transition: background-color 1.5s ease ;
  }
  
  .container {
    background-color: #ffbfbf84;
    width: min(90%, 500px);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 4em 2em;
    border-radius: 0.5em;
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
  .section-container {
    display: flex;
    gap: 1em;
    justify-content: center;
  }
  .btn {
    font-size: 1em;
    padding: 1em 1em;
    border-radius: 0.5em;
    background-color: transparent;
    color: white;
  }
  .btn-focus {
    
    background-color: #cb202d;
    color: #ffffff;
  }
  .time-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }
  #time {
    text-align: center;
    color: #ffffff;
    font-size: 5em;
    font-weight: 600;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
  }
  #btn-start,
  #btn-pause {
    padding: 1em 2em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: #ffffff;
  }
  #btn-reset {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 2em;
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }

  