*{
    margin: 0px;
    padding: 0px;
}
#container{
    border: 1px solid black;
    width: 100%;
    display: flex;
}
#profile{
    border: 1px solid black;
    width: 25%;
}
#stats{
    border: 1px solid black;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}